.wrapper{
    
    width: 500px;
    margin: 0 auto;
}
.comentBlock{
    display: flex;
    justify-content: space-between;
}
.text{
    margin-left: 0px;
    width: 400px;
}
.img{
    width: 100px;
}